.App {
	text-align: center;
	background-color: #3C1556;
	color: #EEF3FA;
	font-family: 'Panton', sans-serif;
	font-family: 'Exo';
	font-size: 700;
	font-style: normal;
	letter-spacing: -0.5px;
}

nav {
	display: flex;
	background-color: #3C1556;
	align-items: center;
	justify-content: space-between;
}

nav h1 {
	/* font-family: 'Panton'; */
	font-size: 72px;
	margin: 0;
}

.navTitle {
	display: flex;
	padding: 0 2rem;
	margin-top: 0;
	align-items: center;
	justify-content: center;
}

.navTitle h1 {
	letter-spacing: -5px;
}

.navTitle img {
	padding: 0;
	max-height: 60px;
}

.navTitle img:hover {
	cursor:pointer;
}

.walletBtn {
	margin: 0 2rem;
	padding: 0 2rem;
	border-radius: 25px;
	background-color: #FF7A73;
	color: #EEF3FA;
}

.walletBtn:hover {
	cursor: pointer;
}

.walletBtn h3 {
	padding: 0.75rem;
}

.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.site-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.site-header h1,
.paragraph {
	color: #EEF3FA;
}

.card-parent {
	display: flex;
}

.card-child {
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 600px;
	border-radius: 25px;
	padding: 0 0.5rem;
	margin: 1.5rem;
	display: flex;
	min-width: 350px;
	max-width: 700px;
	background-color: #FF7A73;
	/* border-style: solid; */
}

.card-image {
	width: max-content;
}

.links p {
	padding: 0 0.5rem;
	/* color: #fcf4d9; */
}

.links p:hover {
	cursor: pointer;
	color: #ff7a73;
}

.card-image img {
	padding: 1rem;
	max-height: 200px;
}

.title {
	padding: 2rem;
}

.wallet-text {
	display: none;
}

@media (min-width: 700px) {
	.links {
		display: flex;
	}

	.wallet-text-small {
		display: none;
	}

	.wallet-text {
		display: flex;
	}
	/* .grid {
		display: grid;
		column-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		padding: 1rem;
	} */
}
